.card-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap balance;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background-color: var(--background-color);
  color: var(--font-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 12px var(--shadow-color);
  transition: transform 0.1s ease, box-shadow 0.1s ease, background-color 0.1s ease;

  flex-grow: 1;
  width: fit-content;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 20px var(--shadow-color);
    background-color: var(--primary-color);
    cursor: pointer;
  }

  &:active {
    box-shadow: 0 4px 8px var(--shadow-color);
    transform: translateY(2px);
  }

  & p {
    width: fit-content;
  }
}