:root {
  --background-color: light-dark(#f0f0f0, #231F20);
  --font-color: light-dark(#231F20, #ffffff);
  --shadow-color: light-dark(rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.4));
  --border-color: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));

  --primary-color: #CE1126;
  --secondary-color: #6F7377;

  --font: Futura Hv BT;

  color-scheme: light dark;
}

html, body {
  margin: 0;

  background-color: var(--background-color);
  color: var(--font-color);

  display: grid;
  justify-content: center;

  font-family: var(--font), Arial, sans-serif;
  overflow-x: hidden;
  
  width: 100vw;
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 20px;

  max-width: 1200px;
  margin: 0px 20px;
  width: calc(100vw - 40px);
}

.unselectable {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.log-section {
  margin-top: 10px;
}